@import "../colors";

.map-entity-label  {
  width: 75px;
  height: 75px;
  position: relative;
  background: $md-sys-color-inverse-primary-light;
  overflow: hidden;
}

.map-entity-label_person {
  border-radius: 50%;
  border: 5px solid rgba($md-sys-color-primary-light, 0.8);
  box-shadow: 0 0 0 10px rgba($md-sys-color-inverse-primary-light, 0.8), 0 0 15px 5px black;
}

.map-entity-label_jur-person {
  border: 5px solid rgba($md-sys-color-background-light, 0.8);
  box-shadow: 0 0 0 10px rgba($md-sys-color-background-light, 0.8), 0 0 15px 5px black;
  border-radius: 10px;
}

.entity-map {
  height: 100%;
  cursor: pointer;
  position: relative;
}

.map-label__person.main {

}

.map-entity-label__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.map-entity-label__img-placeholder {
  color: black;
  font-size: 34px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.map-tooltip__entity-link {
  color: white;
}

.map-entity-label__img-wrapper {
  width: 100%;
  height: 100%;
}

.map__geo-btn-wrapper {
  position: absolute;
  z-index: 999999;
  bottom: 10px;
  right: 10px;
  background: var(--ol-background-color);
  height: 25px;
  width: 25px;
  padding: 0;
  text-align: center;
  border-radius: 2px;
  overflow: hidden;
  line-height: 1.3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.map__geo-btn {
  margin: 0;
  fill: var(--ol-subtle-foreground-color);
  max-width: 85%;
  max-height: 85%;
}

.entity-popup.ol-popup.black  {
  z-index: 999999;
  & .closeBox {
    color: $md-sys-color-inverse-primary-light;
  }
}

@media all and (pointer: fine) {
  .map__geo-btn-wrapper:hover {
    outline: 1px solid black;
  }

  .map-tooltip__entity-link:hover {
    color: $md-sys-color-inverse-primary-light;
  }
}
