@import "../colors";

$page-border-radius: 15px;

.entity-page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.entity-root-screen {
  height: 100%;
}

.entity-page-inner-wrapper {
  max-width: 800px;
  padding-top: 50px;
  margin: 0 auto;
}

.entity-page-wrapper__main-entity-section {
}

.main-entity-section__manage-entity-container {
  display: flex;
  justify-content: end;
  column-gap: 10px;
  margin-bottom: 15px;
}

.manage-entity-container__action-btn {
  width: 30px;
  height: 30px;
  background: lighten($md-sys-color-primary-container-light, 2%);
  padding: 5px;
}

.manage-entity-container__action-icon {
  width: 100%;
  height: 100%;
}

.entity-page__possible-related-persons-section {
  margin: 30px auto 0;
}

.entity-page__related-jur-persons-section {

  margin: 30px auto 0;
}

.entity-data-container {
  display: flex;
  justify-content: space-between;
  column-gap: 80px;
  flex-wrap: wrap;
  row-gap: 50px;
}

.main-entity-section__main-photo-wrapper {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
  flex-grow: 1;
  overflow: hidden;
  border-radius: $page-border-radius;
  background: black;
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-entity-section__main-entity-info-container {
  flex-grow: 1;
}

.main-entity-section__main-photo-wrapper.no-photo {
  background: transparent;
}

.main-entity-section__main-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.main-entity-section__main-photo_placeholder {
  fill: #CAC4D0;
}

.entity-page__map-wrapper {
  border-radius: $page-border-radius;
  overflow: hidden;
}

.main-entity-info-container__item {
  font-size: 18px;
  background: lighten($md-sys-color-primary-container-light, 3%);
  padding: 7px 10px;
  min-width: fit-content;
  border-radius: $page-border-radius;
}

.main-entity-info-container__item-key {
  font-weight: 500;
  display: inline-block;
  margin-right: 5px;
}

.entity-images-slider-section {

  margin: 60px auto 0;
}

.entity-images-slider-container {
  background: black;
  border-radius: $page-border-radius;
  overflow: hidden;
  margin: 20px auto 0;
  height: 400px;
}

.entity-page__related-entity-container {
  display: grid;
  justify-items: center;
  padding: 2% 5%;
  background: rgba($md-sys-color-inverse-primary-light, 0.3);
  column-gap: 20px;
  border-radius: $page-border-radius;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin-top: 15px;
  & p {
    margin: 0;
  }
}

.entity-page__related-entity-container_root-related-person, .related-entity-table-header_root-related-person {
  grid-template-columns: 2fr repeat(2,1fr) 60px;
}

.entity-page__related-entity-container_root-related-person.no-geo, .related-entity-table-header_root-related-person.no-geo {
  grid-template-columns: 2fr repeat(2, 1fr);
}

.entity-page__related-entity-container_possible-related-person, .related-entity-table-header_possible-related-person {
  grid-template-columns: 2fr repeat(2,1fr) 60px;
}

.entity-page__related-entity-container_possible-related-person.no-geo, .related-entity-table-header_possible-related-person.no-geo {
  grid-template-columns: 2fr repeat(2, 1fr);
}

.entity-page__related-entity-container.no-geo .related-entity-container__location-btn-wrapper {
  display: none;
}

.related-entity-table-header {
  display: grid;
  padding: 1% 5%;
  border-radius: $page-border-radius;
  background: rgba($md-sys-color-inverse-primary-light, 0.3);
  column-gap: 20px;
  align-items: center;
}

.related-entity-container__header-title_main {
  justify-self: start;
}

.related-entity-container__header-title {
  text-align: center;
  padding: 0;
  margin: 0;
}

.entity-page__related-entity-container_jur-person, .related-entity-table-header_jur-person {
  grid-template-columns: 2fr repeat(2,1fr) 60px;
}

.entity-page__related-entity-container_jur-person.no-geo, .related-entity-table-header_jur-person.no-geo {
  grid-template-columns: 2fr repeat(2,1fr);
}

.related-entity-container__plain-text {
  margin: 0;
}

.related-entity-container__plain-text_relation-note {
  width: 100%;
  overflow: auto;
}

.related-entity-container__plain-text_relation-note::-webkit-scrollbar {
  height: 3px;
}

.related-entity-container__plain-text_relation-note::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid transparent;
}

.related-entity-container__main-block {
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-self: start;
}

.related-entity-container__img-wrapper {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.related-entity-container__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.related-entity-container__entity-name {
  font-weight: 600;
}

.related-entity-container__location-btn-wrapper {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  justify-self: end;
}

.related-entity-container__location-btn {
  height: 100%;
  width: 100%;
  fill: $md-sys-color-primary-light;
  cursor: pointer;
}

.related-entity-container__mobile-key {
  display: none;
  font-weight: 500;
}

.entity-page__related-entity-container.disabled-geo .related-entity-container__location-btn, .related-entity-container__location-btn.disabled-geo  {
  fill: rgba(gray,0.4);
  cursor: auto;
}

.used-sources-container {
  display: flex;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.used-source-container {
  background: $md-sys-color-primary-container-light;
  border: 2px solid $md-sys-color-primary-light;
  max-width: 100%;
  padding: 5px 10px;
  border-radius: 25px;
}

.used-source-container-inner {
  max-width: 100%;
  overflow: auto;
}

.used-source {
  word-break: keep-all;
  white-space: nowrap;
}

@media all and (pointer: fine) {
  .manage-entity-container__action-btn:hover {
    background: $md-sys-color-primary-container-light;
  }
}

@media all and (max-width: 768px) {
  .relations-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
  }

  //.entity-page__related-entity-container_jur-person, .related-entity-table-header_jur-person {
  .entity-page__related-entity-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    width: fit-content;
    flex-grow: 1;
    min-width: 250px;
    flex-basis: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  //.related-entity-container__main-block_jur-person {
  .related-entity-container__main-block {
    display: flex;
    flex-direction: column;
  }

  //.related-entity-container__main-block_jur-person .related-entity-container__entity-name {
  .related-entity-container__main-block .related-entity-container__entity-name {
    font-size: 20px;
    margin-top: 10px;
  }

  .related-entity-container__img-wrapper {
    width: 75px;
    height: 75px;
  }

  .related-entity-table-header {
    display: none;
  }

  .related-entity-container__mobile-key {
    display: initial;
  }

  .related-entity-container__mobile-key_br {
    display: block;
  }
}
