@import "../colors";

.person-page__relationships-section, .person-page__related-jur-persons-section {
  max-width: 800px;
  margin: 30px auto 0;
}

.person-page__map-section {
  max-width: 800px;
  margin: 20px auto 0;
}

.person-page__map-wrapper {
  height: 600px;
}

