.person-page__relationships-section {
  max-width: 800px;
  margin: 30px auto 0;
}

.entity-page__map-section_person {
  max-width: 800px;
  margin: 20px auto 0;
}

.entity-page__map-wrapper_person {
  height: 600px;
}
