@import 'colors';

.explore-page__search {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}

.explore__select {
  margin-bottom: 10px;
}

.explore-page__input-group-container {
  background: $md-sys-color-on-primary-light;
  padding: 0px;
  border-radius: 10px;
  margin-top: 40px;
}

.results-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  align-items: start;
  padding: 15px 0px;
}

.results-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.litmus-pagination {
  & .page-item.active>.page-link {
    background: $primary-light;
    color: white;
  }

  & .page-link {
    color: $primary-light;
  }

  & .page-link:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba($primary-light, 0.25);
  }
}

.entity-container-wrapper {
  padding: 10px 20px 20px;
  margin: 30px 0;
  background: $md-sys-color-on-primary-light;
  border: 2px solid $md-sys-color-primary-light;
  border-radius: 15px;
  overflow: hidden;
}

.entity-container-wrapper__entity-link-wrapper {
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.entity-container-wrapper__entity-link-icon {
  width: 100%;
  height: 100%;
  position: relative;
  top: -3px;
  right: -12px;
}

.entity-container {
  padding: 10px;
  display: grid;
  column-gap: 20px;
  height: 180px;
  overflow: auto;
  row-gap: 20px;
  justify-content: space-between;
}

.explore-page__main {
  padding: 0 50px;
}

.entity-container_person {
  grid-template-columns: 1fr 100px repeat(9, 1fr);
}

.entity-container_simple-person {
  grid-template-columns: 1fr 100px repeat(6, 1fr);
}

.entity-container__value_img {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

.jur-person-container {
  grid-template-columns: 1fr repeat(6, 1fr);
}

.user-container {
  grid-template-columns: 1fr repeat(5, 1fr);
}

.entity-container__column-title  {
  font-size: 18px;
}

.entity-container__value-block, .related-entity-container__plain-text, .related-entity-container__entity-name {
  overflow-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

.entity-container__value_id {
  width: 100%;
  min-width: fit-content;
  word-break: keep-all;
}

.entity-container__value {
  font-size: 16px;
}

.entity-container__column-title , .entity-container__value {
  text-align: center;
  margin: 0;
}

@media all and (pointer: fine) {
  .entity-container-wrapper__entity-link-icon:hover {
    fill: $md-sys-color-primary-light;
  }
}