@import 'colors';

html, body, #root, .wrapper, .root-screen {
  height: 100%;
}

img, svg {
  vertical-align: initial;
}

.root-screen {
  display: flex;
  flex-direction: column;
}

.root-screen__content-wrapper {
  flex-grow: 1;
  padding: 15px 0;
}

.wrapper {
  padding: 0 20px 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  user-select: none;
}


.btn {
  border: none;
  outline: none;
}

.btn.btn-primary {
  background: $primary-light;
}

.btn.btn-primary.disabled {
  background: lighten($primary-light, 2%);
}

@media all and (pointer: fine) {
  .btn.btn-primary:hover {
    background: $md-sys-color-primary-light;
    border-color: $md-sys-color-inverse-primary-light;
  }
}

.btn.btn-primary {
  &:active, &:focus {
    box-shadow: none;
  }
}

.error-text {
  color: $md-sys-color-error-light;
}

.error-text_input-tip {
  font-size: 14px;
  margin-top: 7px;
}

.btn.btn-primary:active {
  background: $md-sys-color-primary-light;
  opacity: 0.9;
}

.form-control, .form-select {
  background-color: $md-sys-color-on-primary-light
}

.spinner-border.application-loader {
  border-color: $md-sys-color-inverse-primary-light;
  border-right-color: transparent;
}

.form-check-input:checked {
  background-color: $md-sys-color-primary-light;
  border-color: $md-sys-color-surface-tint-light;
}

.form-check-input:focus, .btn-close:focus {
  box-shadow: 0 0 0 0.2rem $md-sys-color-inverse-primary-light;
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
  color: $placeholder-color;
}

.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $placeholder-color;
}

.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $placeholder-color;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $placeholder-color;
}

.form-control::placeholder { /* modern browsers */
  color: $placeholder-color;
}

.form-control:focus, .form-select:focus {
  -webkit-box-shadow: 0px 0px 0px 3px $md-sys-color-inverse-primary-light;
  -moz-box-shadow: 0px 0px 0px 3px $md-sys-color-inverse-primary-light;
  box-shadow: 0px 0px 0px 3px $md-sys-color-inverse-primary-light;
  border: initial;
}



.placeholder-ltm {
  color: $placeholder-color;
  font-size: 16px;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 50%;
  transition: 0.5s ease-in-out;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

.bs-alert {
  position: relative;
  left: -50%;
}

.alert-container.INACTIVE {
  transform: translateY(-100%);
}

.alert-container.ACTIVE {
  transform: translateY(50%);
}

.link {
  color: $md-sys-color-on-primary-container-light;
  text-decoration: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@import "header";
@import "homePage";
@import "signInPage";
@import "loadingPage";
@import "explorationPage";
@import "creationPage";
@import "geo";
