@import "colors";

.loading-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20%;
}

.loading_spinner {
  background: $md-sys-color-primary-light;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.input__loader-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.input__loader-container .application-loader {
  width: 20px;
  height: 20px;
}