@import "colors";

.creation-page__create {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.creation-page__create-select-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}

.creation-input-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  padding: 15px;
  background: $light-pink;
  border-radius: 10px;
}

.creation-input-group__item {
  flex-basis: 48%;
  max-width: 48%;
  flex-grow: 1;
}

.creation-input-group__item_long {
  max-width: 100%;
}

.date-container {
  display: flex;
  column-gap: 3.33%;
}

.date-container__item {
  flex-basis: 30%;
  flex-grow: 1;
}

.creation-input-group__btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.apply-person-modal__found-person-container .person-container {
  padding: 15px;
  overflow-x: auto;
}

.apply-person__input-container {
    position: relative;
    display: flex;
}

.loader-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.loader-container .application-loader {
  width: 20px;
  height: 20px;
}

.jur-person-creation__input.owner, .jur-person-creation__input.ben-owner, .jur-person-creation__input.address {
  text-align: start;
}

.relationships-container {
  width: 100%;
  padding: 10px 0px;
}

.relationships-container__relations {
  background: $md-sys-color-background-light;
  padding: 6px 12px;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
  margin-top: 15px;
}

.relationships-container__heading-block {
  display: flex;
  justify-content: space-between;
}

.relationships-container__heading {
  margin: 0;
}

.relationships-container__add-person-btn {
  border: 1px solid #ced4da;
  background: $md-sys-color-outline-variant-light;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 21px;
  color: white;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .add-person-icon {
    transition: 0.3s ease-in-out;
  }
}

.relationships-container__add-person-btn:hover {
  background: rgba($md-sys-color-outline-light, 0.6);
}

.relationships-container__add-person-btn:active {
  box-shadow: 0 0 0 0.2rem rgba($md-sys-color-tertiary-light, 0.4);
}

.relationships-container__add-person-btn:focus {
  outline: 3px solid rgba($md-sys-color-tertiary-light, 0.2);
}

.add-person-icon {
  width: 100%;
  height: 100%;
}
