@import "colors";
@import "createRelationshipsSection";

.creation-page__create {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.creation-page__create-select-wrapper {
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px;
}

.creation-input-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
  padding: 15px;
  background: $light-pink;
  border-radius: 10px;
}

.creation-input-group__item {
  flex-basis: 48%;
  max-width: 48%;
  flex-grow: 1;
}

.creation-input-group__item_long {
  max-width: 100%;
}

.date-container {
  display: flex;
  column-gap: 3.33%;
}

.date-container__item {
  flex-basis: 30%;
  flex-grow: 1;
}

.creation-input-group__btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.apply-person-modal__found-person-container .person-container {
  padding: 15px;
  overflow-x: auto;
}

.apply-person__input-container {
  position: relative;
  display: flex;
}

.apply-person-modal__error-description {
  margin: 12px 0 0;
  color: $md-sys-color-error-light;
  font-size: 13px;
}

.loader-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 0;
}

.loader-container .application-loader {
  width: 20px;
  height: 20px;
}

.jur-person-creation__input.owner, .jur-person-creation__input.ben-owner, .jur-person-creation__input.address {
  text-align: start;
}
