@import "colors";

.entity-page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.entity-page-wrapper__main-entity-section {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  column-gap: 80px;
  padding-top: 50px;
}

.main-entity-section__main-photo-wrapper {
  width: 300px;
  overflow: hidden;
  background: black;
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-entity-section__main-photo {
  width: 100%;
}

.main-entity-section__main-photo_placeholder {
  fill: #CAC4D0;
}

.main-entity-info-container__item {
  font-size: 18px;
}

.main-entity-info-container__item-key {
  font-weight: 500;
  display: inline-block;
  margin-right: 5px;
}

.entity-images-slider-section {
  max-width: 800px;
  margin: 60px auto 0;
}

.entity-images-slider-container {
  //border: 2px dashed $md-sys-color-inverse-primary-light;
  background: black;
  //padding: 10px;
  margin: 20px auto 0;
  height: 400px;
}

.person-page__relationships-section {
  max-width: 800px;
  margin: 60px auto 0;
}

.person-page__relationships-container {
  margin-top: 40px;
}

.relationship-container__main {
  display: flex;
  column-gap: 15px;
}

.main-relationship-info__fullname {
  font-size: 18px;
  font-weight: 500;
}

.main-relationship-info__relation-type-container {
  margin-top: 5px;
}

.relationship-container__main-relationship-info {

  & p {
    margin: 0;
  }
}

.person-page__relationship-container_person-image-wrapper {
  width: 60px;
  height: 60px;
  border: 1px dashed $md-sys-color-inverse-primary-light;
}