@import "colors";

.uploaded-image {
  display: flex;
  min-height: 44px;
}

.uploaded-image__info {
  flex-grow: 1;
}

.uploaded-image__actions-block {
  flex-grow: 0;
  display: flex;
  column-gap: 8px;
}

.uploaded-image__action {
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.uploaded-image.main uploaded-image__action_set-main-wrapper {
  background: rgba($md-sys-color-surface-tint-light, 0.3);
}

.uploaded-images-section {
  margin-top: 30px;
}

.uploaded-image__action-icon {
  height: 100%;
  width: 100%;
}

.uploaded-image__action:hover {
  background: rgba(black, 0.1);
}